@namespace HospitalApp.Pages
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Authorization

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <h1>Page not found</h1>
            <p>Sorry, but the page you requested could not be found.</p>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
