@using System.Security.Claims
@using BlazorHealthApp2025.Data
@using Microsoft.AspNetCore.Identity
@implements IDisposable
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject UserManager<ApplicationUser> UserManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Iboren Health</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        

        <AuthorizeView Roles="Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/admin-dashboard">
                        <img src="svg/cal.svg" alt="Home Icon" width="20" height="20" />
                        <style>
                            .icon {
                                width: 32px;
                                height: 32px;
                                background-color: transparent; /* Ensure no background */
                            }
                        </style>
                        &nbsp; Admin Dashboard
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/schedule">
                        <img src="svg/cal.svg" alt="Home Icon" width="20" height="20" />
                        <style>
                            .icon {
                            width: 32px;
                            height: 32px;
                            background-color: transparent; /* Ensure no background */
                        }
                        </style>
                        &nbsp; Calendar
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Patient">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/appointments">
                        <img src="svg/cal.svg" alt="Home Icon" width="20" height="20" />
                        <style>
                            .icon {
                                width: 32px;
                                height: 32px;
                                background-color: transparent; /* Ensure no background */
                            }
                        </style>
                        &nbsp; Book Appointment
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Doctor">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/doctor-appointments">
                        <img src="svg/cal.svg" alt="Home Icon" width="20" height="20" />
                        <style>
                            .icon {
                                width: 32px;
                                height: 32px;
                                background-color: transparent; /* Ensure no background */
                            }
                        </style>
                        &nbsp; Requests
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Manage">
                        <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> Profile
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit" class="nav-link">
                            <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                        </button>
                    </form>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Register">
                        <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Login">
                        <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>


    </nav>
</div>

@code {
    private string? currentUrl;
    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

